

<div class="container text-center">
  <div class="row">
    <div class="col">

    </div>
    <div class="col">

    </div>
  </div>
  <div class="row">
    <div class="col">

    </div>
    <div class="col">
      <ng-container *ngIf="!regionSelected">
      <h3>Please select a Region</h3>
      <div class="dropdown-center">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Regions
        </button>
        <ul class="dropdown-menu">
          <li  *ngFor="let reg of initRegions$ | async " (click)="selectReg(reg)" >{{reg}}</li>

        </ul>
      </div>
    </ng-container>
      <div  *ngIf=" regSelected$ | async as regs "  class="countries dropdown">
        <h3>Please select a Country</h3>
        <button class="btn btn-secondary dropdown-toggle form-control" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Countries of {{regs}}
        </button>
        <ul class="dropdown-menu form-control" aria-labelledby="dropdownMenuButton1">
          <li  *ngFor="let country of countries$ | async "  (click)="selectCountry(country)" >
            {{country.name}}

          </li>

        </ul>
      </div>

    </div>


    <div class="col">

    </div>
  </div>
</div>
